
.background-container {
  background-image: url('background-que.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.session-form-container {
  background: #fff;
  border: 1px solid black;
  padding-top: 25px;
  width: 650px;
}

.login-form-container {
  width: 650px;
}

.signup-form-container {

}

.main-logo {
  font-family: 'Libre Baskerville', serif;
  color: #b92b26;
  font-weight: 700;
  font-size: 70px;
  margin: auto;
}
