.topic-index-container {
  width: 142px;
  height: 328px;
  margin: 100px 30px 0 0;
  font-size: 13px;

  .topic-index-header {
    color: #333333;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e2e2e2;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0;
  }
}

.topic-item-link {
  color: #6f6f6f;
  text-decoration: none;
  padding: 4px 5px;
  margin: 0 0 0 -5px;
  width: 100%;
}

.topic-item-link:hover {
  color: #333333;
  cursor: pointer;
}
