.header {
  background-color: #fff;
  width: 100%;
  min-width: 1000px;
  min-height: 50px;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
  position: fixed;
  // z-index: 1;
  top: 0;
  left: 0;
}

.header a {
  display: block;
  padding: 5px 15px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;

  .icon-name {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 50px;
  }
}

.header-nav {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;

  .header-logo {
    margin-top: 10px;
    color: #c40d26;
  }

  input {
    background-image: image_url('search.png');
    background-size: 13px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding-left: 26px;
    background: url(//qsf.fs.quoracdn.net/-3-images.new_grid.QuoraSearch.png-26-86c32b1ac26e4161.png) no-repeat 8px center;
    background-size: 13px;
    margin-top: 15px;
    width: 475px;
    height: 25px;
    font-size: 15px;
    color: #333;
    font-weight: lighter;
  }

  .header-item:hover {
    background: rgb(246, 246, 246);
  }

  .nav-item-link {
    color: #666;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
  }
}

.nav-item-link.active-nav {
  color: #c40d26;
  border-bottom: 2px solid #b92b27;
}

.avatar-dropdown {
  margin-top: 15px;

  .avatar:hover {
    cursor: pointer;
  }
}

.logout-dropdown {
  display: none;
  top: 50px;
  // right: 575px;
  position: absolute;
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(200,200,200,0.7);
  padding: 8px 16px;
  line-height: 1.25;
  cursor: pointer;
  color: #2b6dad;
  width: 80px;
  text-align: center;
}

.logout-dropdown:hover {
  background-color: #dfeffa;
}

.logout-dropdown-show {
  display: block;
}

.header-btn {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  background: #b92b27;
  color: #fff;
  height: 30px;
  width: 96px;
  margin-top: 15px;
  font-weight: 500;
  font-family: inherit;
  font-size: 15px;
}

.header-btn:hover {
  cursor: pointer;
}
